{
   "id": "abcdef",
   "service_account_id": "abcdef",
   "created_at": "2022-01-06T14:32:34.747459294Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nabcdef\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nabcdef\n-----END PRIVATE KEY-----\n"
}
